<p id="notice"><%= notice %></p>

<p>
  <strong>Contact:</strong>
  <%= @lead.contact %>
</p>

<p>
  <strong>Source:</strong>
  <%= @lead.source %>
</p>

<p>
  <strong>Date:</strong>
  <%= @lead.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lead.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @lead.active %>
</p>

<p>
  <strong>Salesperson:</strong>
  <%= @lead.salesperson_id %>
</p>

<%= link_to 'Edit', edit_lead_path(@lead) %> |
<%= link_to 'Back', leads_path %>
